*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    font-family: monospace;
}

.lammie
{
    display:flex;
    flex-direction: column;
    width:300px;
    height:180px;

    border: solid 2px black;

    margin: 5px;

    padding: 3px;

    /*justify-content: stretch;*/
    /*align-items: stretch;*/
}

.lammie-back .lammie-body
{
    flex-direction: row;
    justify-content: flex-end;
}

.lammie-body
{
    display: flex;
    flex: 1 0;
    overflow: hidden;
}

.lammie-text
{
    flex: 1 0;
    overflow: hidden;
    margin: 3px;
}

.lammie-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 2px solid black;
    margin: 3px;
    flex: auto 0;
}

.lammie-qr
{
    /*border: 2px solid black;*/
    width: 70px;
    height: 70px;
    margin: 3px;
    /*min-width: 100px;*/
}

.lammie-qr-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}